body {
  background: grey;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important; }
  body .grid-column {
    padding: 0px !important;
    margin: 0px !important; }
    body .grid-column .row.marginZero.form-group {
      margin: 0px !important; }
  body .rightContent {
    /* Style the buttons inside the tab */
    /* Change background color of buttons on hover */
    /* Create an active/current tablink class */
    /* Style the tab content */ }
    body .rightContent .leftPanel {
      background-color: #3e4652;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    body .rightContent .fieldsPanel {
      height: 100%;
      background-color: #2f333a; }
    body .rightContent .fieldHeader {
      width: 100%; }
      body .rightContent .fieldHeader .fieldHeader-content {
        background-color: #3e4652; }
        body .rightContent .fieldHeader .fieldHeader-content .close-btn {
          background: #3e4652;
          font-size: 30px;
          border-color: #3e4652;
          border: 0px;
          color: #fff;
          margin-right: 5px; }
    body .rightContent h3 {
      /*font-size: 18px!important;
      line-height: 18px!important;*/
      margin: 0 !important;
      padding: 16px 48px 14px 18px;
      color: #fff;
      font-weight: 300; }
    body .rightContent .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1; }
    body .rightContent .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px; }
    body .rightContent .tab button:hover {
      background-color: #ddd; }
    body .rightContent .tab button.active {
      background-color: #ccc; }
    body .rightContent .tabcontent {
      display: none; }
    body .rightContent .fieldSection {
      height: 100%;
      padding-top: 102px; }
    body .rightContent .fieldscroller {
      overflow-y: auto; }
    body .rightContent .fieldSection-list {
      padding: 0 !important;
      background-color: transparent; }
      body .rightContent .fieldSection-list li {
        text-decoration: none;
        list-style: none;
        padding: 15px;
        background-color: #3e4652;
        color: #fff;
        border: 1px solid #fff;
        border-bottom: 0px; }
      body .rightContent .fieldSection-list li:last-of-type {
        border: 1px solid #fff !important; }
    body .rightContent .fieldSection-category:empty {
      padding: 0;
      border: 0; }
    body .rightContent .fieldSection-category {
      text-transform: uppercase;
      background: #3e4652;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      line-height: 13px;
      font-size: 13px; }
    body .rightContent .field-item:not(.isPassive) {
      cursor: move; }
    body .rightContent .field-item {
      background-color: #545f6f;
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: ease-in-out; }
    body .rightContent .leftPanel .fieldHeader h3 {
      font-size: 20px !important; }
    body .rightContent .leftPanel .fieldHeader .tab {
      background-color: #545f6f;
      border: 0px !important;
      margin: 0px 15px 0px; }
      body .rightContent .leftPanel .fieldHeader .tab button {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        display: table-cell;
        background-color: #2f333a;
        border-bottom: 4px solid #2f333a;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        padding: 18px 0 14px;
        cursor: pointer;
        width: 50%; }
      body .rightContent .leftPanel .fieldHeader .tab .tablinks.active, body .rightContent .leftPanel .fieldHeader .tab button:hover {
        border-bottom: 4px solid #009ef4; }
    body .rightContent .leftPanel .tabcontent {
      width: 295px;
      margin: 15px 15px 0px;
      padding: 0px 15px 15px 0px; }
      body .rightContent .leftPanel .tabcontent li {
        border: 1px solid #4a5361;
        border-bottom: 0px; }
        body .rightContent .leftPanel .tabcontent li .field-icon {
          float: left;
          margin-right: 10px; }
      body .rightContent .leftPanel .tabcontent li:last-of-type {
        border: 1px solid #4a5361 !important; }
      body .rightContent .leftPanel .tabcontent li:hover {
        background-color: #009ef4; }
      body .rightContent .leftPanel .tabcontent .list-group .list-header {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        background-color: #2f333a;
        border: 0px;
        border-bottom: 4px solid #009ef4;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        padding: 18px 0 14px;
        cursor: pointer;
        width: 50%;
        margin-bottom: 15px; }
      body .rightContent .leftPanel .tabcontent .list-group .list-group-item {
        padding: 0px; }
        body .rightContent .leftPanel .tabcontent .list-group .list-group-item .twelverow {
          text-decoration: none;
          list-style: none;
          padding: 15px 0px 15px 15px;
          background-color: #3e4652;
          color: #fff;
          border: 1px solid #4a5361;
          border-bottom: 0px;
          height: 45px !important; }
        body .rightContent .leftPanel .tabcontent .list-group .list-group-item div#six-col div {
          padding: 0px 10px; }
        body .rightContent .leftPanel .tabcontent .list-group .list-group-item .twelverow:last-of-type {
          border: 1px solid #4a5361 !important; }
    body .rightContent .middle-section #LeftMenu {
      transition-property: top,-webkit-transform;
      transition-property: top,transform;
      transition-property: top,transform,-webkit-transform;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      width: 0px;
      top: 0;
      z-index: 201;
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    body .rightContent .middle-section .width310 {
      width: 310px !important; }
    body .rightContent .middle-section .transition {
      transform: translateX(-310px);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    body .rightContent .middle-section .transitionX {
      transform: translateX(0px);
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      width: 330px; }
    body .rightContent .middle-section .transitionCenter {
      padding-left: 410px !important;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    body .rightContent .middle-section .transitionCenterRight {
      padding-right: 440px !important;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
    body .rightContent .middle-section .add-form-element {
      width: 140px !important;
      padding: 11px 12px 13px 0px;
      color: #fff;
      font-size: 13px;
      border-radius: 0 100px 100px 0;
      text-align: left;
      z-index: -1;
      position: absolute !important;
      top: 20px;
      background-color: #3e4652;
      cursor: pointer;
      text-align: center;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
      body .rightContent .middle-section .add-form-element .add-form-text {
        display: inline-block;
        width: 74px;
        line-height: 16px;
        text-align: center;
        -webkit-animation: pulse 2.7s infinite;
        animation: pulse 2.7s infinite; }
      body .rightContent .middle-section .add-form-element i {
        position: absolute;
        top: 17px;
        text-align: center;
        color: #fff;
        font-size: 20px; }
    body .rightContent .middle-section .fa-times {
      font-size: 25px;
      color: #fff;
      margin: 16px;
      cursor: pointer; }
    body .rightContent .middle-section .form-middle {
      padding: 20px 80px;
      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: ease-in-out; }
      body .rightContent .middle-section .form-middle .workarea {
        margin: 20px; }
    body .rightContent .middle-section .form-container .drag-container .drag-dashed {
      border: 2px dashed rgba(0, 0, 0, 0.15);
      padding: 300px 0;
      text-align: center;
      color: rgba(0, 0, 0, 0.2);
      border-radius: 3px; }
    body .rightContent .middle-section .list-section, body .rightContent .middle-section #parent .grid-column {
      background: rgba(0, 0, 0, 0.15);
      box-shadow: none;
      color: black;
      text-align: center;
      padding: 15px;
      min-height: 66px; }
      body .rightContent .middle-section .list-section .properties, body .rightContent .middle-section #parent .grid-column .properties {
        display: none; }
    body .rightContent .middle-section #parent .grid-column {
      border: 1px solid #8c8e91 !important;
      border-right: 0px !important; }
    body .rightContent .middle-section #parent .grid-column:last-child {
      border: 1px solid #8c8e91 !important; }
    body .rightContent .middle-section .list-section.active, body .rightContent .middle-section #parent .grid-column.active {
      box-shadow: 0 0 0 2px #009ef4;
      padding: 15px;
      position: relative; }
      body .rightContent .middle-section .list-section.active .properties, body .rightContent .middle-section #parent .grid-column.active .properties {
        display: block;
        background-color: transparent;
        position: absolute;
        z-index: 1;
        right: -50px;
        bottom: auto;
        left: auto;
        height: auto;
        width: 36px;
        min-width: 36px;
        border-radius: 4px;
        box-shadow: none;
        text-align: right;
        top: 50%;
        transition: top .15s ease,-webkit-transform .15s ease;
        transition: top .15s ease,transform .15s ease;
        transition: top .15s ease,transform .15s ease,-webkit-transform .15s ease;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      body .rightContent .middle-section .list-section.active .list-section-btn, body .rightContent .middle-section #parent .grid-column.active .list-section-btn {
        height: 36px;
        display: block;
        color: #fff;
        min-width: 36px;
        border: 0;
        border-radius: 18px;
        background: #49515a;
        margin-bottom: 3px;
        padding: 0 12px;
        white-space: nowrap; }
        body .rightContent .middle-section .list-section.active .list-section-btn .fa, body .rightContent .middle-section #parent .grid-column.active .list-section-btn .fa {
          font-size: 18px !important;
          line-height: 24px !important;
          margin: 0 !important; }
        body .rightContent .middle-section .list-section.active .list-section-btn span, body .rightContent .middle-section #parent .grid-column.active .list-section-btn span {
          font-size: 0;
          display: none;
          text-transform: capitalize;
          transition-property: all;
          transition-duration: .15s;
          transition-timing-function: ease-in-out; }
      body .rightContent .middle-section .list-section.active .list-section-btn:hover, body .rightContent .middle-section #parent .grid-column.active .list-section-btn:hover {
        background-color: #606a76; }
        body .rightContent .middle-section .list-section.active .list-section-btn:hover span, body .rightContent .middle-section #parent .grid-column.active .list-section-btn:hover span {
          font-size: 12px;
          padding-left: 4px;
          display: inline-block;
          visibility: visible; }
      body .rightContent .middle-section .list-section.active .list-section-btn.remove, body .rightContent .middle-section .list-section.active .list-section-btn:hover.remove, body .rightContent .middle-section #parent .grid-column.active .list-section-btn.remove, body .rightContent .middle-section #parent .grid-column.active .list-section-btn:hover.remove {
        background: red; }

/*.float-setting-container.ng-hide {
    right: -300px;
}*/
.float-setting-container.ng-hide-add-active, .float-setting-container.ng-hide-remove-active {
  transition: all ease-in-out 5s;
  transition: 1s; }

.float-setting-container {
  z-index: 2;
  right: 0; }

.Properties-section {
  float: right;
  width: 0px;
  background: #2f333a;
  color: #fff;
  padding: 0px 0px 15px !important;
  font-size: 15px;
  font-family: 'Segoe UI';
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transform: translateX(330px); }
  .Properties-section .element-header {
    height: 42px;
    background: #3e4652; }
  .Properties-section .close-btn {
    float: right;
    background: #3e4652;
    font-size: 27px;
    border-color: #3e4652;
    border: 0px;
    margin: 1px 5px 0 0; }
  .Properties-section .tabs {
    border: 0px !important;
    margin: 0px 15px 0px; }
  .Properties-section .tab-menu {
    border-bottom: 4px solid #009ef4;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    display: table-cell;
    background-color: #2f333a;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    padding: 18px 0 14px;
    cursor: pointer;
    width: 50%; }
  .Properties-section .tab-menu, .Properties-section a, .Properties-section a:hover {
    color: white !important;
    text-decoration: none;
    background: #2f333a !important;
    border: 0px !important; }
  .Properties-section .tab-menu {
    border-bottom: 4px solid #009ef4 !important; }
  .Properties-section .padding0 {
    padding: 0px !important; }
  .Properties-section .list-inline {
    margin-left: 0px !important; }
  .Properties-section .fieldsPanel-header {
    background: #3e4652; }
  .Properties-section .header-text {
    margin: 0 !important;
    padding: 16px 48px 14px 18px;
    color: #fff;
    font-weight: 300;
    font-size: 16px !important; }
  .Properties-section .content {
    background: #3e4652; }
  .Properties-section .tab-content {
    background: #3e4652; }
  .Properties-section .gray-bg {
    width: 285px;
    background: #3e4652;
    padding: 0 15px;
    margin: 15px 0px 0px; }
  .Properties-section .property-tab {
    background: #2f333a !important; }
  .Properties-section .tab-section-content {
    margin-bottom: 40px;
    margin-top: 30px; }
  .Properties-section .grid-column-pane {
    padding: 10px; }
  .Properties-section .grid-column {
    border: 1px solid lightgray;
    background: lightgray; }
  .Properties-section a {
    padding: 0px !important; }

.btn.btn-primary {
  margin-top: 15px; }

body #Header .headerLeft .curriculum-logo {
  width: 131px !important; }

.btn-download {
  height: 36px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #fff; }

.btn-download1 {
  background: #2d2d2d !important;
  border: 1px solid #2d2d2d !important; }

.align-left {
  text-align: left; }

.dynamic-property {
  text-align: left !important; }
  .dynamic-property label {
    text-align: left !important; }
  .dynamic-property input {
    padding: 0px 16px !important; }

/*#Header {
    .headerLeft {
        color: #fff;
        font-size: 24px;
        margin: 9px;
    }
}*/
.fa-power-off {
  font-size: 30px;
  margin: 6px; }

.notification-container li a, .notification-container li:hover a {
  color: black;
  text-decoration: none; }

#basic {
  height: 471px;
  overflow: auto; }

.leftPanel ::-webkit-scrollbar {
  width: 8px; }
.leftPanel ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #009ef4;
  border-radius: 10px; }
.leftPanel ::-webkit-scrollbar-thumb {
  background: #009ef4;
  border-radius: 10px; }

.dropdown-menu {
  right: 0px !important;
  left: auto !important;
  top: 40px !important; }
  .dropdown-menu li, .dropdown-menu a {
    font-weight: bold; }

.btn-download .dropdown-menu li:hover, .btn-download .dropdown-menu a:hover {
  color: white;
  background: #3e4652; }

/*# sourceMappingURL=Form.css.map */
