
<header id="Header" class="mainHeader">
    <div class="pull-left">
        <i class="fa fa-bars hamburger-icon"></i>
    </div>
    <div class="headerLeft">
        <div class="headerLeft hidden-xs">
            <img src="/Content/Images/logo.png" class="curriculum-logo" title="Curriculum Station" />
        </div>
    </div>

    <div class="headerRight pull-right">

        <div class="pull-right">
            <a href="#" class="log-out"><i class="fa fa-power-off show-list error" aria-hidden="true"></i></a>
            <div class="notification-container">
                <ul>
                    <li><a href="/account/Logout">Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>
